Is there a significant difference in the average price of drip coffee at independent coffee shops in Manhattan versus San Francisco? Let  ğ›¼=.05 .
Data:

In [1]:
manhattan_coffee_prices = [1.5, 1.5, 1.79, 1.79, 1.79, 1.79, 1.85, 1.85, 1.85, 1.85, 1.85, 1.99,
                           1.99, 1.99, 1.99, 1.99, 1.99, 1.99, 2, 2, 2, 2.19, 2.19, 2.29, 2.29,
                           2.29, 2.29, 2.29, 2.5, 2.5]
sf_coffee_prices = [1.99, 1.99, 2.29, 2.29, 2.29, 2.29, 2.49, 2.49, 2.49, 2.49, 2.49, 2.49, 2.49, 
                    2.49, 2.49, 2.79, 2.79, 2.79, 2.79, 2.79, 2.79, 2.79, 2.95, 2.95, 2.95, 2.95, 
                    2.95, 2.95, 2.99, 2.99, 2.99, 2.99, 3.49, 3.49, 3.49]

Null and alternate hypotheses:
Null:  ğœ‡ğ‘ ğ‘“=ğœ‡ğ‘šâ„ğ‘¡ğ‘› 
Alt:  ğœ‡ğ‘ ğ‘“â‰ ğœ‡ğ‘šâ„ğ‘¡ğ‘› 
Because we're looking for evidence of equality, this is a two-tailed test. It is a t-test because we are trying to infer the true mean from sample data, with no information on the true mean/standard deviation.
Are their variances equal?

In [2]:
from statistics import variance
print("sf variance:", variance(sf_coffee_prices))
print("manhattan variance:", variance(manhattan_coffee_prices))

sf variance: 0.13833815126050422
manhattan variance: 0.06142540229885057

So these variances are not equal. We will use a Welch's t-test (ie, we will set equal_var=False in our t-test.)

In [3]:
print(f'We have {len(manhattan_coffee_prices)} Manhattan samples and {len(sf_coffee_prices)} San Francisco samples.')

We have 30 Manhattan samples and 35 San Francisco samples.

Because we have unequal sample sizes, we'll have to set nan_policty='omit', so that the t-test is properly handling the discrepancy.

In [4]:
from scipy.stats import ttest_ind

ttest_ind(sf_coffee_prices, manhattan_coffee_prices, equal_var=False, nan_policy='omit')

Ttest_indResult(statistic=9.2256676192423, pvalue=4.387713543565749e-13)

Now to interpret our t-test: Our p-value is much smaller than our signifiance level of .05, thus, we have evidence to reject the null hypothesis. It seems too unlikely that our samples were taken from populations with the same sample mean. So, we conclude that our evidence suggests that the price of coffee in Manhattan is different from the price of coffee in San Fransisco.